.root {
    line-height: 0;
    cursor: pointer;
    transition-duration: .3s;
    transform-origin: top left;
}

.picked .cell {
    background-color: #eee;
}

.row {
    display: block;
}

.cell {
    display: inline-block;
    width: 40px;
    height: 40px;
    opacity: 0.8;
    background-color: #c7fffd;
}

.empty_cell {
    background-color: transparent;
    cursor: default;

}

.active_cell {
    cursor: pointer;
    opacity: 1;
}

.active_cell:hover {
    box-shadow: 1px 1px 3px rgba(37, 206, 255, 0.28);
}